<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home</a>
        <a class="nav-item nav-link active" routerLink="/search">Search</a>
        <a class="nav-item nav-link active" routerLink="/upload">Upload</a>
        <a class="nav-item nav-link active" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link active" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div>
    <alert></alert>
    <router-outlet></router-outlet>
</div>